<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/webjars/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
</head>
<body>
<div class="row">
    <div class="col-lg-3 col-sm-6">
        <div class="card">
            <div class="row">
                <div class="col-xs-5">
                    <i>S</i>
                </div>
                <div class="col-xs-5">
                    <div class="numbers">
                        <p>Capacity</p>
                        "105GB"
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="webjars/jquery/2.1.1/jquery.min.js"></script>
<script src="webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</body>
</html>
