<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet"/>

    <!-- Optional theme -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          rel="stylesheet"/>
    <link href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/webjars/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <style>

        .scard {
            background-color: #fff;
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
            max-width: 550px;
            height: 475px;
            margin-left: 10%;
            border-radius: 10px;
            overflow: hidden;
        }

        .highcharts-figure, .highcharts-data-table table {
            min-width: 310px;
            max-width: 800px;
            margin: 1em auto;
        }

        #container {
            height: 400px;
        }

        .highcharts-data-table table {
            font-family: Verdana, sans-serif;
            border-collapse: collapse;
            border: 1px solid #EBEBEB;
            margin: 10px auto;
            text-align: center;
            width: 100%;
            max-width: 500px;
        }

        .highcharts-data-table caption {
            padding: 1em 0;
            font-size: 1.2em;
            color: #555;
        }

        .highcharts-data-table th {
            font-weight: 600;
            padding: 0.5em;
        }

        .highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
            padding: 0.5em;
        }

        .highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
            background: #f8f8f8;
        }

        .highcharts-data-table tr:hover {
            background: #f1f7ff;
        }

    </style>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#">Semih WebSite</a>
    <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-target="#navbarNav" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home/create">Add Todo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">l
                    Logout</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/blog/get-different-user-list">Show All Personal Blog</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="col mx-md-n5">
        <div class="row mb-3">
            <div class="col-xl-3 col-sm-6 py-2">
                <div class="card bg-success text-white h-100">
                    <div class="card-body bg-success">
                        <div class="rotate">
                            <i class="fa fa-list-ol fa-4x"></i>

                        </div>
                        <h6 class="text-uppercase">Finish Todo</h6>
                        <h1 class="display-4"></h1>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 py-2">
                <div class="card text-white bg-danger h-100">
                    <div class="card-body bg-danger">
                        <div class="rotate">
                            <i class="fa fa-list fa-4x"></i>
                        </div>
                        <h6 class="text-uppercase">Todo</h6>
                        <h1 class="display-4" id="todo"></h1>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 py-2">
                <div class="card text-white bg-info h-100">
                    <div class="card-body bg-info">
                        <div class="rotate">
                            <i aria-hidden="true" class="fa fa-film fa-4x"></i>
                        </div>
                        <h6 class="text-uppercase">Movie</h6>
                        <h1 class="display-4" id="movie"></h1>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 py-2">
                <div class="card text-white bg-warning h-100">
                    <div class="card-body">
                        <div class="rotate">
                            <i class="fa fa-share fa-4x"></i>
                        </div>
                        <h6 class="text-uppercase">Progress Todo</h6>
                        <h1 class="display-4"></h1>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row placeholders mb-3">
            <div class="col-6 col-sm-3 placeholder text-center">
                <img alt="Generic placeholder thumbnail" class="mx-auto img-fluid rounded-circle" id="allTodo" src="">
                <h4>Todo</h4>
                <span class="text-muted">Device agnostic</span>
            </div>
            <div class="col-6 col-sm-3 placeholder text-center">
                <img alt="Generic placeholder thumbnail" class="mx-auto img-fluid rounded-circle" id="blogs" src="">
                <h4>Blog</h4>
                <span class="text-muted">UI / UX oriented</span>
            </div>
            <div class="col-6 col-sm-3 placeholder text-center">
                <img alt="Generic placeholder thumbnail" class="mx-auto img-fluid rounded-circle" id="moviesrc" src="">
                <h4>Movie</h4>
                <span class="text-muted">Standards-based</span>
            </div>
            <div class="col-6 col-sm-3 placeholder text-center">
                <img alt="Generic placeholder thumbnail" class="center-block img-fluid rounded-circle"
                     src="//placehold.it/200/e0e0e0/fff?text=4">
                <h4>Framework</h4>
                <span class="text-muted">CSS and JavaScript</span>
            </div>
        </div>
        <hr>
        <br>
        <div class="row">
            <div class="scard">
                <figure class="highcharts-figure">
                    <div id="container"></div>
                    <p class="highcharts-description">
                        A basic column chart compares rainfall values between four cities.
                        Tokyo has the overall highest amount of rainfall, followed by New York.
                        The chart is making use of the axis crosshair feature, to highlight
                        months as they are hovered over.
                    </p>
                </figure>
            </div>
            <div class="scard">
                <figure class="highcharts-figure">
                    <div id="pie"></div>
                </figure>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="scard">
                <figure class="highcharts-figure">
                    <div id="importantLevel"></div>
                    <p class="highcharts-description">
                        A basic column chart compares rainfall values between four cities.
                        Tokyo has the overall highest amount of rainfall, followed by New York.
                        The chart is making use of the axis crosshair feature, to highlight
                        months as they are hovered over.
                    </p>
                </figure>
            </div>
        </div>
        <br>
        <hr>
        <br>
        <div class="row mb-4">

            <div class="col-xl-3 col-sm-6 py-2">
                <div class="card bg-success text-white h-100">
                    <div class="card-body bg-success">
                        <div class="rotate">
                            <i class="fa fa-user fa-4x"></i>
                        </div>
                        <h6 class="text-uppercase">Finish Todo</h6>
                        <h1 class="display-4" id="finishTodo"></h1>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-sm-6 py-2">
                <div class="card text-white bg-warning h-100">
                    <div class="card-body bg-warning">
                        <div class="rotate">
                            <i class="fa fa-share fa-4x"></i>
                        </div>
                        <h6 class="text-uppercase">Progress # Todo </h6>
                        <h1 class="display-4" id="progressTodo"></h1>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-sm-6 py-2">
                <div class="card text-white bg-danger h-100">
                    <div class="card-body bg-danger">
                        <div class="rotate">
                            <i class="fa fa-list fa-4x"></i>
                        </div>
                        <h6 class="text-uppercase"># Todo Pass Expected Date</h6>
                        <h1 class="display-4" id="passTheExpectedDate"></h1>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <h2>Number of Delete List</h2>
        <div class="row">
            <div class="col-xl-3 col-sm-6 py-2">
                <div class="card text-white bg-warning h-100">
                    <div class="card-body bg-warning">
                        <div class="rotate">
                            <i class="fa fa-list fa-4x"></i>
                        </div>
                        <h6 class="text-uppercase">Delete # Todo </h6>
                        <h1 class="display-4" id="delete-todo"></h1>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 py-2">
                <div class="card text-white bg-danger h-100">
                    <div class="card-body bg-danger">
                        <div class="rotate">
                            <i class="fa fa-list fa-4x"></i>
                        </div>
                        <h6 class="text-uppercase">Total Blog Word Count </h6>
                        <h1 class="display-4" id="all"></h1>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 py-2">
                <div class="card text-white bg-info h-100">
                    <div class="card-body bg-info">
                        <div class="rotate">
                            <i class="fa fa-list fa-4x"></i>
                        </div>
                        <h6 class="text-uppercase">Delete # SubTodo</h6>
                        <h1 class="display-4" id="delete-sub-todo"></h1>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 py-2">
                <div class="card text-white bg-danger h-100">
                    <div class="card-body bg-danger">
                        <div class="rotate">
                            <i class="fa fa-list fa-4x"></i>
                        </div>
                        <h6 class="display-4" id="get1"></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>

</div>


</div>


<!--<div class="container">
    <h2 align="center">Technology Line Graph</h2>

    <div id="container"
         style="width: 550px; height: 400px; margin: 0 auto"></div>
</div>-->
<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>


<script>
    async function getData() {
        const url = 'http://localhost:8080/get-todo-category';
        const response = await fetch(url);
        const data = await response.json();
        console.log(typeof data);
        console.log(data.valueOf());
        var category = [];
        var values = [];
        for (var key in data) {
            category.push(key);
            values.push(data[key]);

        }

        Highcharts.chart('container', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Total Number of Todo Categories'
            },
            subtitle: {
                text: 'assistant app'
            },
            xAxis: {
                categories: category,
                crosshair: true
            },
            yAxis: {
                min: 0,
                max: 40,
                title: {
                    text: 'Numbers Todo'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Technology',
                data: values

            }]
        });
    }

    async function getChart() {

    }

    async function getTodoSubTodoNumber() {
        const url = 'http://localhost:8080/show-delete-count-dashboard';
        const response = await fetch(url);
        const data = await response.json();
        const todo = data.numberOfTodoDelete;
        const subTodo = data.numberOfSubTodoDelete;
        console.log(todo);
        console.log(subTodo);
        document.getElementById("delete-todo").innerHTML = todo;
        document.getElementById("delete-sub-todo").innerHTML = subTodo;

    }

    async function getDashboardData() {
        const url = 'http://localhost:8080/show-all-dashboard-parameter';
        const response = await fetch(url);
        const data = await response.json();
        console.log(data);
        const movie = data.numberOfMovies;
        const todo = data.numberOfTodo;
        const allTodo = data.allTodo;
        const progressTodo = data.numberOfProgressTodo;
        const finishTodo = data.numberOfFinishTodo;
        const blogs = data.numberOfBlog;
        document.getElementById("todo").innerHTML = todo;
        document.getElementById("progressTodo").innerHTML = progressTodo;
        document.getElementById("finishTodo").innerHTML = finishTodo;
        document.getElementById("movie").innerHTML = movie;
        document.getElementById("allTodo").src = "//placehold.it/200/dddddd/fff?text=" + allTodo;
        document.getElementById("moviesrc").src = "//placehold.it/200/dddddd/fff?text=" + movie;
        document.getElementById("blogs").src = "//placehold.it/200/dddddd/fff?text=" + blogs;

    }

    async function getAllCollectionDataSpecificUser() {
        const url = 'http://localhost:8080/get-all-collection';
        const response = await fetch(url);
        const data = await response.json();
        console.log(data[0].allUserInformationCollections);
        console.log(data[0].getEmailTypeAndSize);
        var category = [];
        var values = [];
        for (var key in data[0].getEmailTypeAndSize) {
            category.push(key);
            values.push(data[0].getEmailTypeAndSize[key]);

        }
        var importantCategory = [];
        var importantValue = [];
        for (var set in data[0].dashboardModel.importantLevelCount) {
            importantCategory.push(set);
            importantValue.push(data[0].dashboardModel.importantLevelCount[set]);
        }

        const passTheExpectedDate = data[0].dashboardModel.passExpectedDateSize;
        document.getElementById("passTheExpectedDate").innerHTML = passTheExpectedDate;

        console.log(values);

        Highcharts.chart('pie', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'To-do type of email pie chart'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                    }
                }
            },
            series: [{
                name: 'Brands',
                colorByPoint: true,
                data: [{
                    name: category[0],
                    y: values[0],
                    sliced: true,
                    selected: true
                }, {
                    name: category[1],
                    y: values[1]
                }, {
                    name: category[2],
                    y: values[2]
                }]
            }]
        });

        Highcharts.chart('importantLevel', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'To-do important category'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                    }
                }
            },
            series: [{
                name: 'Brands',
                colorByPoint: true,
                data: [{
                    name: importantCategory[0],
                    y: importantValue[0],
                    sliced: true,
                    selected: true
                }, {
                    name: importantCategory[1],
                    y: importantValue[1]
                }, {
                    name: importantCategory[2],
                    y: importantValue[2]
                }, {
                    name: importantCategory[3],
                    y: importantValue[2]
                }, {
                    name: importantCategory[4],
                    y: importantValue[2]
                }
                ]
            }]
        });
    }

    async function getTodoSubTodoDeleteCategory() {
        const url = 'http://localhost:8080/get-delete-data-list';
        const response = await fetch(url);
        const data = await response.json();
        var category = [];
        var values = [];
        for (var key in data) {
            category.push(key);
            values.push(data[key]);

        }
    }

    async function getBlogDetailDashboard() {
        const url = 'http://localhost:8080/show-blog-statistic';
        const response = await fetch(url);
        const data = await response.json();
        console.log(data.allBlogLength);
        document.getElementById("all").innerHTML = data.allBlogLength;
        var category = [];
        var values = [];
        for (var key in data.blogCategory) {
            category.push(key);
            values.push(data.blogCategory[key]);

        }
        console.log(category[3] + ": " + values[3]);
        document.getElementById("get1").innerHTML = category[3] + ": " + values[3];
    }

    getAllCollectionDataSpecificUser();
    getChart();
    getData();
    getDashboardData();
    getTodoSubTodoNumber();
    getBlogDetailDashboard();
    getTodoSubTodoDeleteCategory();


</script>
<script src="webjars/jquery/2.1.1/jquery.min.js"></script>
<script src="webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</body>
</html>
