<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>About</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <base href="/"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Semih WebSite</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home/create">Add Todo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/subtask/list-all">Show Sub Task List</a>
            </li>
        </ul>
    </div>
</nav>
<div class="row d-flex justify-content-center mx-auto">
    <div class="card text-white bg-primary mb-3 text-center" style="max-width: 35rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
            <h5 class="card-title">Primary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>
</div>
<br><br>
<!-- <div class="alert alert-success" role="alert">
    <label th:text="${message}"> </label>

</div>
 TODO Alert message bak
    <div class="alert alert-danger" role="alert">
    <label th:text="${error}"> </label>

</div>-->
<div id="dd">
    <p class="h3 row d-flex justify-content-center mx-auto">Choose Operation</p>
    <br><br>
    <div class="row d-flex justify-content-center mx-auto">
        <p>

            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
                    aria-expanded="false" aria-controls="ss">
                Button with data-target
            </button>
        </p>
    </div>
<br><br>
<div class="container" id="collapseExample">
    <p class="h3 row d-flex justify-content-center mx-auto">Adding Sub Task</p>
    <form th:action="@{/subtask/create/{userId}/{taskId}(userId=${subTodoRequestModel.userId},taskId=${subTodoRequestModel.taskId})}" th:object="${subTodoRequestModel}" method="post">
        <div class="form-group">
            <label for="title">SubTask Title</label>
                <input type="text" class="form-control" th:field="*{subTodoTitle}" id="title">
        </div>
        <div class="form-group">
            <label for="desc">Description</label>
            <textarea th:field="*{subTodoDescription}" class="form-control" id="desc" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label class="col-form-label">Category</label>
            <select th:field="*{subTodoCategory}" class="form-control">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>

        <div class="form-group">
            <label for="targetDate">Created Date</label>
            <input class="form-control" th:field="*{subTodoCreatedDate}" type="date" id="targetDate" />
        </div>

        <div class="form-group">
            <label for="finishedDate">Finished Date</label>
            <input class="form-control" type="date" th:field="*{subTodoFinishDate}" id="finishedDate" />
        </div>
        <br>
        <div>
            <input type="submit" class="btn btn-primary" onclick="disable()" value="Submit"/>
        </div>
    </form>
</div>



<!-- <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
   <input type="submit" class="btn btn-primary" value="Disable" onclick="disable()"/>
     <div class="carousel-inner align-content-center">
         <div class="carousel-item active">
             <img class="d-block w-75"
                  src="https://www.bmw.ca/content/dam/bmw/common/home/teaser/bmw-m8-competition-gran-coupe-hometeaser-desktop.jpg/_jcr_content/renditions/cq5dam.resized.img.1680.large.time1570528809713.jpg"
                  alt="First slide">
         </div>
         <div class="carousel-item">
             <img class="d-block w-100" src="..." alt="Second slide">
         </div>
         <div class="carousel-item">
             <img class="d-block w-100" src="..." alt="Third slide">
         </div>
     </div>
 </div>-->
<script src="webjars/jquery/2.1.1/jquery.min.js"></script>
<script src="webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<script>
    $('#targetDate').datepicker(
        {
            format:'yyyy-MM-dd'
        }
    );
    $('#finishedDate').datepicker(
        {
            format:'yyyy-MM-dd'
        }
    );

   function disable() {
       var x = document.getElementById("collapseExample");
       if (x.style.display === "none"){
           x.style.display = "block";
       }
       else {
           x.style.display = "none";
       }
   }

</script>
</body>
</html>